*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.acontainer{
    display: flex;
    align-items: center;
    height: 45vw;
    margin-bottom: 5vw;
}
.blocimage{
    margin-top: 4vw;
    height: 30vw;
    width:20vw;
    border-radius: 1vw;
    margin-left: 20vw;
    background-image: url(../images/me2.jpg);
    background-position: -4vw;
    background-size: 25vw;
    background-repeat: no-repeat;
}
.textAbout{
    text-align: justify;
    margin-left: 4vw ;
    margin-top: 5vw;
    font-size: 1.6vw;;
    width: 40vw;
}
.aboutbis{
    margin-bottom: 2vw;
    font-size: 3vw;
}

@media only screen and (max-width: 600px) {
    .acontainer{
        margin: 30vw 0 0 0vw;
        height: auto;
        display: block;
        justify-content: center;
    }
    .blocimage{
        align-items: center;
        height: 80vw;
        width: 70vw;
        background-size: 80vw;
        border-radius: 5vw;
        margin-left: 16vw;
    

    }
    .textAbout{
        height: auto;
        padding: 0 10vw 0 10vw;
        margin: 5vw 0 10vw 0;
        width: auto;
        justify-content: center;
        text-align: justify;

    }
    .aboutbis{
        font-size: 6vw;
        width: 50vw;
    }
    .text{
        font-size: 4vw;
        width: auto;
        margin-left: 0;
    }
}