*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.acontainer{
    display: flex;
    align-items: center;
    height: 45vw;
    margin-bottom: 5vw;
}
.blocimage{
    margin-top: 4vw;
    height: 30vw;
    width:20vw;
    border-radius: 1vw;
    margin-left: 20vw;
    background-image: url(../images/me2.jpg);
    background-position: -4vw;
    background-size: 25vw;
    background-repeat: no-repeat;
}
.textAbout{
    text-align: justify;
    margin-left: 4vw ;
    margin-top: 5vw;
    font-size: 1.6vw;;
    width: 40vw;
}
.aboutbis{
    margin-bottom: 2vw;
    font-size: 3vw;
}