.bottom{
    margin-top: 5vw;
    display: flex;
    height: 10vw;
    width: 100%;
    justify-content: center;
    border-top: 2px solid white;
  }
  .contact{
    width: 30vw;
    font-size: 1.2vw;
    align-self: center;
  }
  .email{
    text-decoration: none;
    color: white;
  }
  .linkedin{
    align-self: center;
  }
  .linkedin img{
    height: 3vw;
    margin: 1vw;
  }

  @media only screen and (max-width: 600px) {
    .bottom{
      height: 20vw;
    }
    .contact{
      font-size: 2.5vw;
      margin-right: 25vw;
    }
    .linkedin img{
      height: 8vw;
    } 
  }