.dl-cv:hover{
    cursor: pointer;
    background: white;
    color: white;
    transition: .4s ease-in-out;
}
.left-me{
    width: 20vw;
    margin:0 0 0 5vw;
    display: flex;
    flex-direction: column;
    height: 25vw;
}
.me{
    display: flex;
    height: 50vw;   
}
.pic-me img{
    position: absolute;
    height: 45vw;
    border-radius: 0 0 3% 3%;
    
    z-index: 2;
    background-image: url(../images/me.png);
}
.presentation{
    width: auto;
    margin-left: 30%;
    margin-top: 30%;
}
.welcome{
    font-family: 'Poppins', light;
    font-size: 2.5vw;
} 
.theo{
    width: 100%;
    font-size: 4.5vw;
} 
.profession{
    font-family: 'Poppins', light;
    font-size: 1.5vw;
}
.left-me{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
} 
.dl{
    margin-top: 1vw;
    border-radius: 10vw;
    width: 12vw;
    height: 3vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;

    color: white;
}
button{
    background:linear-gradient(45deg, #3C1DFF, #14C9C9);
    border: none;
}

button:hover{
    cursor: pointer;
    border: 2px solid white ;
}

@media only screen and (max-width: 600px) {
    .me{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0; 
        height: auto;

    }
    .pic-me img{
        position: relative; 
        margin-left: 12vw;
        height: 120vw;
        border-radius: 0 0 3% 3%;
        z-index: 2;
        background-image: url(../images/me.png);

    }
    .left-me{
        width: 100%;
        height: 10vw;
        margin-bottom: 20vw;
        margin-left: 0;
    }
    .presentation{
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .welcome{
        font-size: 8vw;
    }
    .theo{
        font-size: 10vw
    }
    .profession{
        font-size: 5vw;;
    }
    .dl{
        width: 40vw;
        height: 10vw;
        font-size: 5vw;
        margin-bottom: 2vw;
    }
    .presentation p,h1{
        margin-bottom: 3vw;
    }
}