    h4{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 4vw;
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid white; 
        line-height: 0.2em;
    }
    h4 span{
        background:#1F1F1F; 
        padding:0 10px;
        margin-right: 60vw;
    }
    .portfolio{
        margin-top: 3vw;
        height: auto;
        display: inline;
    }
    #site-algo{
        background-image: url(../images/Screen.png);
        background-size: 27vw;
        background-position: -1.5vw 1.2vw;
        background-repeat: no-repeat;
    }
    #crud{
        background-color: white;
        background-position: -1.5vw 1.2vw;
        background-repeat: no-repeat;
    }
    #wrap-portfolio{
        display: flex;
        margin-top: 5vw;
        justify-content: space-around;
        padding: 0 10vw 0 10vw;
    }
    .project{
        height: 16vw;
        width: 24vw;
        margin-bottom: 50px;
        position: relative;
    }
    .project .technos {
        display: none;
    }
    .project .vitrine:hover .viatransitImage{
        filter: brightness(0.2);
    }
    .project .vitrine:hover + .technos {
        display: block;
    }
    .technos{
        position: absolute;
        top:20px;
        left: 20px;
        list-style-type: none;
        color: white;
    }
    .technos ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }
    .technos li{
        background:linear-gradient(45deg, #3C1DFF, #14C9C9);
        list-style-type: none;
        border-radius: 20px;
        text-align: center;
        padding: 2px 10px 2px 10px;
        margin: 5px 0 5px 5px;
    }
    a{
        text-decoration: none;
    }
    .label_site{
        color: black;
        margin-left: 10px;
        font-size: 15px;
    }
    .viatransitImage{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .top{
        background-color: #D0D0D0;
        height: 1.25vw;
        display: flex;
    }
    .point{
        height: 0.7vw;
        width: 0.7vw;
        margin-left: 0.5vw;
        margin-top: 0.25vw;
        border-radius: 100%;
    }
    #rouge{
        background-color: red;
    }
    #jaune{
        background-color: orange;
    }
    #vert{
        background-color:  #8DB600;
    }
    #desc{
        position: absolute;
        color: #3C1DFF;
        font-size: 2vw;
        margin-top: 6vw;
        margin-left: 5vw;
    }

    @media only screen and (max-width: 600px) {
        .portfolio{
            height: auto;;
        }
        #wrap-portfolio{
            height: auto;
            display: block;
        }
        .project{
            width: 80vw;
            height: 50vw;
        }
        #site-algo{
            background-size: 85vw;
            background-position: -2.5vw 4vw;
        }
        .top{
            height: 4vw;
        }
        .point{
            height: 3vw;
            width: 3vw;
            margin-left: 1.5vw;
            margin-top: 0.5vw;
        }
    }  